<!-- notify_all.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Notification to All Users</title>
</head>
<body>
    <h2>Send Notification to All Users</h2>
    <form method="post" action="{% url 'notify_all_users' %}">
        {% csrf_token %}
        <label for="type">Notification Type:</label>
        <input type="text" id="type" name="type" required><br><br>
        
        <label for="message">Message:</label>
        <textarea id="message" name="message" required></textarea><br><br>
        
        <button type="submit">Send Notification</button>
    </form>
</body>
</html>
