/* NOT WORKING */
    .back-button {
        /* margin-left: 50px;
        margin-top: 50px;
        margin-bottom: -15px; */
    
        background-color: #3f4041; 
        color: white; /* White text color */
        border: none; /* Remove border */
        padding: 6px 15px; /* Add padding */
        border-radius: 5px; /* Add border radius */
        cursor: pointer; /* Change cursor to pointer */
        transition: background-color 0.3s; /* Add transition effect */
    }
    
    .back-button:hover {
        background-color: #232324; 
    }
    
    @media (max-width: 768px) {
        .back-button {
            display: None;
        }
    }