{% extends "base.html" %}

{% block content %}
<div class="this_outer container" style="">
    <div class="row">
    
        <div class="">
            <div class="card-header bg-secondary text-white text-center">
              <h3>Add University Information</h3>
            </div>
            <p class="text-muted text-center mx-5" style="font-size: 12px;">[আপনার বিশ্ববিদ্যালয়ের সাথে কোনো ফিল্ড/অপশনের অমিল থাকলে বা কোনো তথ্য খুঁজে না পেলে অথবা অন্য কোনো সমস্যা হলে আমাদেরকে মেসেজ দিন। যেসব অপশন আপনার জন্য প্রযোজ্য নয় সেগুলো ফাঁকা রাখুন।]</p>

            <div class="card shadow-sm">
                <div class="card-body">
                    <form method="post" id="edu-university-form2" enctype="multipart/form-data">
                        {% csrf_token %}

                        <p class="text-muted text-center" style="font-size: 13px; font-weight: bold;">[শুধুমাত্র আপনার জন্য প্রযোজ্য অপশনগুলি পূর্ণ করুন; বাকীগুলো ফাঁকা রাখুন]</p>
                        
                           <!-- Form Fields -->
                        {% if university.has_department %}
                          <div class="form-group mb-3">
                              <label for="{{ form.department.id_for_label }}">Department:</label>
                              {{ form.department }}
                          </div>
                        {% endif %}

                        {% if university.has_discipline %}
                          <div class="form-group mb-3">
                            <label for="{{ form.discipline.id_for_label }}">Discipline:</label>
                            {{ form.discipline }}
                            <p class="text-muted">
                          </div>
                        {% endif %}

                        <div class="double_fields form-group mb-3">
                              <div class="form-group mb-3">
                                  <label for="{{ form.degree.id_for_label }}">Degree: <span class="text-muted" style="font-size: 11px">(Undergrad.) </span></label>
                                  {{ form.degree }}
                              </div>

                              <div class="form-group mb-3">
                                <label for="{{ form.blank_degree.id_for_label }}">Degree: <span class="text-muted" style="font-size: 11px">(Undergrad.) </span> <span class="text-muted" style="font-size: 11px">[শুধুমাত্র উপরের অপশনে খুঁজে না পেলে নিচে লিখুন; নয়তো অবশ্যই ফাঁকা রাখুন]</span></label>
                                {{ form.blank_degree }}
                              </div>
                        </div>
  

                            <div class="form-group mb-3">
                                <label for="{{ form.session.id_for_label }}">Admission Session:</label>
                                {{ form.session }}
                            </div>
                          {% comment %} {% endif %} {% endcomment %}

                          {% comment %} {% if user.profile.user_type == 'Student' %} {% endcomment %}

                        <div class="double_fields form-group mb-3">
                            <div class="form-group mb-3">
                                <label for="{{ form.varsity_batch.id_for_label }}">University Batch:  <span class="text-muted" style="font-size: 11px">[শুধুমাত্র আপনার জন্য প্রযোজ্য হলে সিলেক্ট করুন; নয়তো ফাঁকা রাখুন]</span></label>
                                {{ form.varsity_batch }}
                            </div>
                          {% comment %} {% endif %} {% endcomment %}

                          {% comment %} {% if user.profile.user_type == 'Student' %} {% endcomment %}
                            <div class="form-group mb-3">
                                <label for="{{ form.departmental_batch.id_for_label }}">Departmental Batch:  <span class="text-muted" style="font-size: 11px">[শুধুমাত্র আপনার জন্য প্রযোজ্য হলে সিলেক্ট করুন; নয়তো ফাঁকা রাখুন]</span></label>
                                {{ form.departmental_batch }}
                            </div>
                          {% comment %} {% endif %} {% endcomment %}


                        {% if university.has_discipline %}
                          <div class="form-group mb-3">
                            <label for="{{ form.discipline_batch.id_for_label }}">Discipline Batch:  <span class="text-muted" style="font-size: 11px">[শুধুমাত্র আপনার জন্য প্রযোজ্য হলে সিলেক্ট করুন; নয়তো ফাঁকা রাখুন]</span></label>
                            {{ form.discipline_batch }}
                          </div>
                        {% endif %}

                        {% if university.has_institute %}
                          <div class="form-group mb-3">
                              <label for="{{ form.institute_batch.id_for_label }}">Institute Batch:  <span class="text-muted" style="font-size: 11px">[শুধুমাত্র আপনার জন্য প্রযোজ্য হলে সিলেক্ট করুন; নয়তো ফাঁকা রাখুন]</span></label>
                              {{ form.institute_batch }}
                          </div>
                        {% endif %}
                    </div>

                          {% comment %} {% if user.profile.user_type == 'Student' %} {% endcomment %}
                            <div class="form-group mb-3">
                                <label for="{{ form.semester.id_for_label }}">Semester/Year:</label>
                                {{ form.semester }}
                                <span class="text-muted" style="font-size: 12px">আপনার Department/Discipline/Institute 'সেমিস্টার সিস্টেম' হলে বর্তমান সেমিস্টার সংখ্যা সিলেক্ট করুন। অথবা 'ইয়ার সিস্টেম' হলে বর্তমান ইয়ার সংখ্যা সিলেক্ট করুন।</span>
                            </div>
                          {% comment %} {% endif %} {% endcomment %}

                          {% comment %} {% if user.profile.user_type == 'Student' %} {% endcomment %}
                            <div class="form-group mb-3">
                                <label for="{{ form.student_id.id_for_label }}">Student ID / Class Roll:</label>
                                {{ form.student_id }}
                            </div>
                          {% comment %} {% endif %} {% endcomment %}

                          {% comment %} {% if user.profile.user_type == 'Student' %} {% endcomment %}
                        <div class="double_fields form-group mb-3">
                            <div class="form-group mb-3">
                                <label for="{{ form.start_year.id_for_label }}">University Start Year:</label>
                                {{ form.start_year }}
                            </div>
               
                            <div class="form-group mb-3">
                                <label for="{{ form.end_year.id_for_label }}">End Year (Expected):</label>
                                {{ form.end_year }}
                            </div>
                        </div>

                          {% comment %} <div class="form-group mb-3">
                              <label for="{{ form.approval_query.id_for_label }}">Approval Query:</label>
                              {{ form.approval_query }}
                          </div> {% endcomment %}
                        
                        <a href="{% url 'add_edu_university_step2' ctxp_profile_edu_university.university.id %}" class="btn btn-secondary">Back</a>

                        <button type="submit" class="btn btn-secondary">Save & Next</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'profile/my_profile/my_profile_secondary_nav.html' %}

<style>
  .this_outer {
    margin-top: 10px; 
    width: 65%;
}

.double_fields {
  padding: 10px; margin-bottom: -20px; border-radius: 10px; background-color: #dce0e3
}

@media (max-width: 480px) {
    .this_outer {
        margin-top: 50px;
        width: 100%;
    }
}
</style>

{% endblock %}
