{% extends 'base.html' %}

{% block content %}
<div class="container mt-2">
    <h3 class="mb-4 text-center">Add New Institute to {{ faculty.name }}, {{ university.name }}</h3>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" id="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group p-2">
                            <label for="{{ form.name.id_for_label }}">Institute Name:</label>
                            {{ form.name }}
                        </div>

                        <button type="submit" class="btn btn-primary">Add Institute</button>
                        <a href="{% url 'show_institutes_by_faculty_mod' faculty.id %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
