{% extends 'base.html' %}

{% block content %}
<div class="container mt-2">
    <h3 class="mb-4 text-center">Edit Center: {{ school.name }}</h3>
    <h4 class="text-muted mb-4 text-center">{{university}}</h4>

    {% if messages %}
        <div class="mb-4">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}

                        <div class="form-group p-2">
                            <label for="{{ form.name.id_for_label }}">Center Name:</label>
                            {{ form.name }}
                            {% if form.name.errors %}
                                <div class="text-danger">{{ form.name.errors }}</div>
                            {% endif %}
                        </div>

                        <button type="submit" class="btn btn-primary">Update Center</button>
                        <a href="{% url 'show_centers_mod' university_id %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
