<div class="container mt-4">
    <h6>Terms & Conditions to Become a Moderator:</h6>
    <ul>
        <li>আপনি মডারেটর রিকয়েস্ট পাঠানোর পরে আপনার প্রোফাইল অন্য অনুরোধকারী মডারেটরদের সাথে যাচাই করে অ্যাপ্রুভ করা হবে। তাই চূড়ান্ত ফলাফল পেতে একটু বিলম্ব হতে পারে। তবে আমরা আপনার কনট্যাক্ট নাম্বারে জানিয়ে দিবো।</li>
        <li>আপনাকে সিলেক্ট করা না হলেও পরবর্তীতে আপনি যতবার ইচ্ছা পুনরায় মডারেটর রিকয়েস্ট পাঠাতে পারবেন।</li>
        <li>মডারেটর হিসেবে কাজের জন্য আমাদের পক্ষে কোনো আর্থিক পারিশ্রমিক দেয়া সম্ভব নয়। সম্পূর্ণ কাজটাই স্বেচ্ছাসেবা হিসেবে করতে হবে।</li>
        <li>আপনি মডারেটর হিসেবে সিলেক্টেড হলে তার মেয়াদ সর্বোচ্চ ৩ মাস পর্যন্ত থাকবে। এর পরেও আপনি একই পদে বহাল থাকতে চাইলে পুনরায় রিকয়েস্ট পাঠিয়ে মডারেটর পদটি রিনিউ করতে হবে।</li>
         <li>মডারেটর হিসেবে চূড়ান্তভাবে সিলেক্টেড হওয়ার পরে, ডেইলি ৫ মিনিট থেকে ৩০ মিনিটের মতো (সম্পূর্ণ অনলাইনে) কাজ করা লাগতে পারে। তবে প্রতিদিন কাজ থাকবে না। মডারেটর এক্সেস পাওয়ার পরে কোনো কারনে যদি মনে করেন আপনি ব্যস্ততার কারনে সময় দিতে পারছেন না তাহলে যেকোনো সময় মডারেটর পদ থেকে স্ব-ইচ্ছায় সরে আসতে পারেন। তাহলে আপনার স্থানে নতুন একজনকে যুক্ত করা হবে। সর্বোচ্চ ১৫ দিন মডারেটর হিসেবে কাজের কোনো এক্টিভিটি না থাকলে আমরা আপনাকে অনুরোধ করবো, আপনার দায়িত্ব অন্য কাউকে দিয়ে দিতে।</li>
        <li>কোন মডারেটরের জন্য কী কী কাজ থাকবে তা এক্সেস পাওয়ার পরে বিস্তারিত জানতে পারবেন।</li>
        <li>আপনি প্রাথমিকভাবে সিলেক্টেড হলে আপনার সাথে একটা সংক্ষিপ্ত অনলাইন মিটিং হতে পারে।</li>
        <li>আপনার উপরস্থ কোনো মডারেটর আপনার চেয়ে বয়সে বা একাডেমিক ব্যাচ অনুসারে সিনিয়র হলে তার সকল যৌক্তিক কার্যক্রমকে নির্দ্বিধায় গ্রহণ করে নিতে হবে। তবে অবশ্যই তাকে যেকোনো পরামর্শ দিয়ে সহায়তা করতে পারবেন।</li>
        <li>উপরোক্ত Terms & Conditions গুলো স্থায়ী নয়। পরিস্থিতি অনুসারে (অধিকাংশের মতামতের উপর ভিত্তি করে) আমাদের কিছু নিয়মে পরিবর্তন আসতে পারে।</li>
    </ul>
 
    <h6>Your Benifits in Becoming a Moderator:</h6>
    <ul>
         <li>প্রথমত, বাংলাদেশের অসংখ্য বিশ্ববিদ্যালয় শিক্ষার্থী আপনার কাজ ও সময়ের মাধ্যমে উপকৃত হবে এবং ভবিষ্যতেও নতুন শিক্ষার্থীরা উপকার পেতে থাকবে। যা অমূল্য একটি স্বেচ্ছাসেবা।</li>
         <li>আপনি আপনার CV/Resume তে Extra-Curricular Activities হিসেবে এই কাজটিকে যুক্ত করতে পারবেন।</li>
         <li>সোশ্যাল মিডিয়া (Facebook/LinkedIn/Twitter/Instagram/Others) বা অন্য যেকোনো প্লাটফর্মে আপনার Designation টি ব্যবহার করতে পারবেন।</li>
         <li>আমাদের ওয়েবসাইটের বিভিন্ন স্থানে আপনার নাম, ঠিকানা, মডারেশন ডিউরেশন ও বিস্তারিত তথ্যাবলী লেখা থাকবে। আপনি মডারেটর পদ থেকে সরে আসার পরেও বছরের পর বছর আপনার তথ্যাবলী থেকে যাবে।</li>
         <li>মডারেটর হিসেবে যেহেতু আপনাকে আপনার অধিনস্ত অন্য মডারেটর এবং সকল ইউজারদের ম্যানেজ করতে হবে সুতরাং আপনার লিডারশীপ স্কিল ক্রমান্বয়ে ডেভেলপ হতে থাকবে।</li>
         <li>যেহেতু প্রায় সম্পূর্ণ কাজ অনলাইনে এবং আমাদের ওয়েবসাইটে তাই আপনার বেসিক টেকনোলোজিক্যাল স্কিল বৃদ্ধি পেতে থাকবে।</li>
    </ul>
 
 </div>