{% extends "base.html" %}
{% block title %}My Department{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="get" action="#" class="my-department-form">
                <h2 class="text-center">Select Your Department</h2>
                {{ form.non_field_errors }}
                <br>
                <div class="form-group">
                    <label for="{{ form.university.id_for_label }}">University:</label>
                    {{ form.university }}
                </div>
                <br>
                <div class="form-group">
                    <label for="{{ form.department.id_for_label }}">Department:</label>
                    {{ form.department }}
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-block">Go to My Department</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
