
<div  class="noto-serif-bengali" class="faq-section" style="margin-top: -20px;">
    <h3>সচারচর জিজ্ঞাসিত প্রশ্নসমূহঃ (FAQ)</h3>
    <div class="faq-item">
        <a href="#" class="togglefaq"><i class="fas fa-plus icon-plus"></i> 
            এই ওয়েবসাইট ব্যবহার করার জন্য কোনো অর্থ প্রদান করতে হবে?
        </a>
        <div class="faqanswer">
            <p>
                না। মে, ২০২২ থেকে এখন পর্যন্ত সম্পূর্ণ ফ্রি রয়েছে। ভবিষ্যতেও বেসিক ফিচারগুলো সবার জন্য ফ্রি থাকবে।
            </p>
        </div>
    </div>

    <div class="faq-item">
        <a href="#" class="togglefaq"><i class="fas fa-plus icon-plus"></i> 
            ইউনিভার্সিটি বা ডিপার্টমেন্টের অভ্যন্তরীন ডাটা ও রিসোর্স এরকম একটা পাবলিক প্লাটফর্মে শেয়ার করা কতটুকু নিরাপদ?
        </a>
        <div class="faqanswer">
            <p>
                আমরা বিশ্বাস করি, আমাদের ফিচারগুলো এমনভাবে ডেভেলপ করা হয়েছে যাতে আপনার ও আপনার ডিপার্টমেন্টের অভ্যন্তরীন সকল ডাটা ও রিসোর্স সম্পূর্ণ নিরাপদ ও সুরক্ষিত থাকে। অর্থাৎ আপনার ইউনিভার্সিটি ও ডিপার্টমেন্টের গুরুত্বপূর্ণ কোনো কিছু আপনাদের ডিপার্টমেন্ট বা ব্যাচের অজ্ঞাতবস্থায় বাহিরের কেউ এক্সেস নিতে পারবে না।
            </p>
        </div>
    </div>
    
    <div class="faq-item">
        <a href="#" class="togglefaq"><i class="fas fa-plus icon-plus"></i> 
        এই ওয়েবসাইট বিশ্ববিদ্যালয় শিক্ষার্থীদের বাহিরে কেউ ব্যবহার করতে পারবে?
        </a>
        <div class="faqanswer">
            <p>
                বাংলাদেশের সকল বিশ্ববিদ্যালয়ের (Public/Private/Engineering/Others) স্নাতক (honors) শ্রেণিতে অধ্যয়ণরত শিক্ষার্থীরা ওয়েবসাইটের সম্পূর্ণ ফিচারের এক্সেস পাবেন। তবে অন্য যে কেউ (শিক্ষক/কর্মজীবী/সাধারণ ভিজিটর) বিশেষ কিছু ফিচার বা রিসোর্স এর এক্সেস ব্যতিরেকে বাকীগুলো ব্যবহার করতে পারবেন। 
            </p>
        </div>
    </div> 

</div>

<p class="text-muted">এছাড়া আপনার যেকোনো প্রশ্ন বা সন্দেহ বা অন্য কোনো পরামর্শ থাকলে আমাদের Facebook Messenger / WhatsApp / Email এ যোগাযোগ করতে পারেন। </p>