{% extends "base.html" %}

{% block title %}Edit Personal Information{% endblock %}

{% block content %}
<div class="edit_personal_info container" style="margin-top: -30px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header bg-secondary text-white text-center">
                    <h3>Edit Personal Information</h3>
                </div>
                <p class="text-center text-muted">[সকল ফিল্ড পূরণ করা আবশ্যকীয় নয়]</p>
                <div class="card-body" style="margin-top: -50px;">
                    <form method="post" id="QuestionForm" enctype="multipart/form-data">
                        {% csrf_token %}
                        
                        <div class="mb-4" style="padding: 10px;">
                            <!-- User Type -->
                            {% comment %} <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-user-tag"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.user_type.id_for_label }}">User Type <span class="text-danger">*</span>:</label>
                                        {{ form.user_type }}
                                    </div>
                                </div>
                                <span class="text-muted" style="font-size: 13px">[বিশ্ববিদ্যালয়ে অনার্সে অধ্যয়ণরত শিক্ষার্থীরা অবশ্যই Student সিলেক্ট করবেন।]</span>
                            </div> {% endcomment %}

                            <!-- Full Name -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.fullname.id_for_label }}">Full Name <span class="text-danger">*</span>:</label>
                                        {{ form.fullname }}
                                    </div>
                                </div>
                            </div>

                            <!-- Nickname (Optional) -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-user-edit"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.nickname.id_for_label }}">Nickname <span class="text-muted">(Optional)</span>:</label>
                                        {{ form.nickname }}
                                    </div>
                                </div>
                            </div>

                            <!-- Profile Image (Optional) -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-camera"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.profile_image.id_for_label }}">Update Profile Picture <span class="text-muted">(Optional)</span>:</label>
                                        {{ form.profile_image }}
                                    </div>
                                </div>
                            </div>

                            <!-- Gender -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-venus-mars"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.gender.id_for_label }}">Gender <span class="text-danger">*</span>:</label>
                                        {{ form.gender }}
                                    </div>
                                </div>
                            </div>


                            <!-- Email & Visibility -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.email.id_for_label }}">Email <span class="text-danger">*</span>:</label>
                                        {{ form.email }}
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-eye"></i> Visibility:
                                        {{ form.email_visibility }}
                                    </div>
                                </div>
                            </div>

                            <!-- Mobile Number & Visibility -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-phone"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.mobile_number.id_for_label }}">Mobile Number (WhatsApp)<span class="text-danger">*</span>:</label>
                                        {{ form.mobile_number }}
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-eye"></i>  Visibility:
                                        {{ form.mobile_number_visibility }}
                                    </div>
                                </div>
                            </div>

                            <!-- Blood Group & Visibility -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-tint"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.blood_group.id_for_label }}">Blood Group <span class="text-muted">(Optional)</span>:</label>
                                        {{ form.blood_group }}
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-eye"></i> Visibility:
                                        {{ form.blood_group_visibility }}
                                    </div>
                                </div>
                            </div>

                            <!-- Facebook ID & Visibility (Optional) -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fab fa-facebook"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.facebook_id.id_for_label }}">Facebook ID <span class="text-muted">(Optional)</span>:</label>
                                        {{ form.facebook_id }}
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-eye"></i> Visibility:
                                        {{ form.facebook_id_visibility }}
                                    </div>
                                </div>
                            </div>

                            <!-- Instagram ID & Visibility (Optional) -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fab fa-instagram"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.instagram_id.id_for_label }}">Instagram ID <span class="text-muted">(Optional)</span>:</label>
                                        {{ form.instagram_id }}
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-eye"></i> Visibility:
                                        {{ form.instagram_id_visibility }}
                                    </div>
                                </div>
                            </div>

                            <!-- LinkedIn ID & Visibility (Optional) -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fab fa-linkedin"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.linkedin_id.id_for_label }}">LinkedIn ID <span class="text-muted">(Optional)</span>:</label>
                                        {{ form.linkedin_id }}
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-eye"></i> Visibility:
                                        {{ form.linkedin_id_visibility }}
                                    </div>
                                </div>
                            </div>

                            <!-- YouTube Channel & Visibility (Optional) -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fab fa-youtube"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.youtube_channel.id_for_label }}">YouTube Channel ID <span class="text-muted">(Optional)</span>:</label>
                                        {{ form.youtube_channel }}
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-eye"></i> Visibility:
                                        {{ form.youtube_channel_visibility }}
                                    </div>
                                </div>
                            </div>

                            <!-- Twitter ID & Visibility (Optional) -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fab fa-twitter"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.twitter_id.id_for_label }}">Twitter ID <span class="text-muted">(Optional)</span>:</label>
                                        {{ form.twitter_id }}
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-eye"></i> Visibility:
                                        {{ form.twitter_id_visibility }}
                                    </div>
                                </div>
                            </div>

                            <!-- GitHub ID & Visibility (Optional) -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fab fa-github"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.github_id.id_for_label }}">GitHub ID <span class="text-muted">(Optional)</span>:</label>
                                        {{ form.github_id }}
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-eye"></i> Visibility:
                                        {{ form.github_id_visibility }}
                                    </div>
                                </div>
                            </div>

                            <!-- Google Scholar & Visibility (Optional) -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-graduation-cap"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.google_scholar.id_for_label }}">Google Scholar ID <span class="text-muted">(Optional)</span>:</label>
                                        {{ form.google_scholar }}
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-eye"></i> Visibility:
                                        {{ form.google_scholar_visibility }}
                                    </div>
                                </div>
                            </div>

                            <!-- Bio (Optional) -->
                            <div class="form-group p-2">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-address-card"></i>
                                    </div>
                                    <div class="col">
                                        <label for="{{ form.bio.id_for_label }}">Bio <span class="text-muted">(Optional)</span>:</label>
                                        {{ form.bio }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-success">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
