{% load static %}

<div class="container mt-3" style="">
            <!-- Secondary Navigation Bar -->
            <div class="dp_secondary_nav fixed-top mb-4">
                <nav class="nav nav-pills">
                    <!-- Overview -->
                    <a class="my_nav_link nav-link btn-secondary {% if request.resolver_match.url_name == 'view_profile_overview' %}active{% endif %}" href="{% url 'view_profile_overview' d_user.id %}" role="tab" style="color: black;"><i class="fas fa-user-circle fa-lg"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="View Profile Overview"></i>

                      <!-- Personal Info -->
                    {% comment %} <a class="nav-link btn-secondary" href="{% url 'personal_info_view_profile' d_user.id %}" role="tab" style="color: black;"><i class="fas fa-info-circle fa-lg"  data-bs-toggle="tooltip" data-bs-placement="bottom" title="Personal Info"></i>
                    </a> {% endcomment %}
                    
                    <!-- Educational Qualifications -->
                    {% comment %} <a class="nav-link btn-secondary" href="{% url 'view_edu_university_view_profile' d_user.id %}" role="tab" style="color: black;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Educational Qualifications"><i class="fas fa-graduation-cap fa-lg"></i>
                    </a> {% endcomment %}

                    <!-- Contribution Summary -->
                    <a class="my_nav_link nav-link btn-secondary {% if request.resolver_match.url_name == 'contribution_summary_view_profile' %}active{% endif %}" href="{% url 'contribution_summary_view_profile' d_user.id %}" role="tab" style="color: black;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Contribution Summary"><i class="fas fa-chart-line fa-lg"></i>
                    </a>
                   
                    <!-- Detailed Contribution -->
                    <a class="my_nav_link nav-link btn-secondary {% if request.resolver_match.url_name == 'detailed_contribution_view_profile' %}active{% endif %}" href="{% url 'detailed_contribution_view_profile' d_user.id %}" role="tab" style="color: black;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Detailed Contribution"><i class="fas fa-list-alt fa-lg"></i>
                    </a>
                </nav>
            </div>
</div>

<!-- Link to external CSS file -->
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
  .my_nav_link.active {
    background-color: #7a8187; /* Customize to your preferred color */
    color: white; /* Text color when active */
    border-color: #007bff;
}

  .content-with-fixed-nav {
    margin-top: 80px; /* Adjust based on the height of your fixed nav bar */
    margin-left: 332px; /* Same as the width of your left column */
  }

  .fixed-left {
    position: fixed;
    top: 72px; /* Adjust based on the height of your top nav bar */
    left: 0;
    width: 332px; /* Width of your left column */
    height: 100vh; /* Full viewport height */
    overflow-y: auto; /* Allow scrolling within the column */
    z-index: 1020; /* Ensure it stays behind the secondary nav bar */
    background-color: #fff; /* Background color to match your design */
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visibility */
  }

  .dp_secondary_nav {
    {% comment %} z-index: 1030; /* Ensure it stays on top of other elements */ {% endcomment %}
    background-color: #f8f9fa; /* Background color to match your design */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visibility */

    width: 50%;
    margin-left: 180px;
    margin-top: 75.5px;
  }


  @media (max-width: 480px) {
    .dp_secondary_nav {
        width: 100%;
        margin-left: 0px;
        margin-top: 58px;
        background-color: ;
    }

    .dp_overview {
        margin-top: 15px;
        margin-left: -87px;
    }

    .dp_contribution_summary {
        margin-top: 45px;
        margin-left: -100px;
    }

    .dp_detailed_contribution {
        margin-top: 45px;
        margin-left: -80px;
    }
  }
</style>