{% extends "base.html" %}

{% block title %}Give Feedback{% endblock %}

{% block content %}
<h1>Give Feedback</h1>
    <p>Exam: {{ exam_name }}</p>
    <p>Session: {{ session }}</p>
    <p>Course: {{ course_name }}</p>
    <p>Department: {{ department_name }}</p>
    <p>University: {{ university_name }}</p>

<form method="POST" class="mx-4">
    {% csrf_token %}
    <label for="feedback">Provide Feedback:</label>
    <br>
    <textarea name="feedback" id="feedback" rows="1" cols="60"></textarea>
    <button type="submit" class="btn btn-secondary">Submit Feedback</button>
</form>
{% endblock %}