{% extends "base.html" %}

{% block title %}Feedbacks{% endblock %}

{% block content %}
<h1>All Feedbacks</h1>
{% comment %} <ul>
    {% for feedback in feedbacks %}
        <li>{{ feedback.feedback }}</li>  <!-- Assuming 'feedback' is the field containing feedback -->
    {% empty %}
        <li>No feedback available</li>
    {% endfor %}
</ul> {% endcomment %}

<table class="table table-striped mx-5">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Feedback</th>
        <th scope="col">Resource Type</th>
        <th scope="col">Given By</th>
      </tr>
    </thead>
    <tbody>
      {% for feedback in feedbacks %}
        <tr>
          <th scope="row">0</th>
          <td>{{ feedback.feedback }}</td>
          <td>Question</td>
          <td>{{ feedback.uploaded_by }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}