{% extends "base.html" %}

{% block title %}Add New Job Application{% endblock %}

{% block content %}
<div class="container" style="margin-top: -40px;">
    <h2 class="text-center mb-4">Add New Job Application</h2>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="POST" class="card shadow-sm p-4"  enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-success">Save Application</button>
                    <a href="{% url 'job_application_list' %}" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
