<nav class="nav nav-pills mb-3">
    <a href="{% url 'job_application_list' %}" class="nav-button btn btn-custom mr-2 btn-sm {% if request.resolver_match.url_name == 'job_application_list' %}active{% endif %}">
        All Applied Jobs ({{ total_applied_jobs }})
    </a>
    <a href="{% url 'job_list_in_task' %}" class="nav-button btn btn-custom mr-2 btn-sm {% if request.resolver_match.url_name == 'job_list_in_task' %}active{% endif %}">
        In Task Jobs ({{ total_in_task_jobs }})
    </a>
    <a href="{% url 'saved_jobs_list' %}" class="nav-button btn btn-custom mr-2 btn-sm {% if request.resolver_match.url_name == 'saved_jobs_list' %}active{% endif %}">
        Saved Jobs ({{ total_saved_jobs }})
    </a>
    <a href="{% url 'company_list' %}" class="nav-button btn btn-custom mr-2 btn-sm {% if request.resolver_match.url_name == 'company_list' %}active{% endif %}">
        Companies List ({{ total_companies }})
    </a>
    <a href="{% url 'followees' %}" class="nav-button btn btn-custom mr-2 btn-sm {% if request.resolver_match.url_name == 'followees' %}active{% endif %}">
        Followees ({{ total_followees }})
    </a>
    <a href="{% url 'add_job_application' %}" class="btn btn-sm btn-dark mr-2">
        <i class="fas fa-plus"></i> Add New Job
    </a>
    <a href="{% url 'add_company' %}" class="btn btn-sm btn-dark mr-2">
        <i class="fas fa-plus"></i> Add New Company
    </a>
    <a href="{% url 'add_followee' %}" class="btn btn-dark btn-sm mr-2">
        <i class="fas fa-plus"></i> Add New Followee
    </a>
</nav>


<style>
    .nav-button {
        background-color: #6c757d; /* Base button color */
        color: white; /* Text color */
        transition: background-color 0.3s ease; /* Smooth transition */
    }
    
    .nav-button:hover {
        background-color: #5a6268; /* Darker shade on hover */
        color: white; /* Maintain text color */
    }
    
    .nav-button.active {
        background-color: #0056b3; /* Color for active button */
        color: white; /* Maintain text color */
    }
    
</style>