{% extends "base.html" %}

{% block title %}{{ center.name }} - {{ university.name }}{% endblock %}

{% block content %}

<div class="text-center mb-3 pt-1 pb-1" style="background-color: #4e5052; color: white; width: 70%; margin-left: auto; margin-right: auto; margin-top: -30px;">
    <h4>{{ center.name }}</h4>
    <p><a class="text-light" href="{% url 'show_university' university.id %}">{{ university.name }}</a></p>
    <hr style="margin-top: -5px">
</div>

{% if university.has_center %}
    <div class="container mt-4">
        {% if departments %}
            <div class="table-responsive">
                <table class="table table-hover table-bordered table-striped">
                    <thead class="bg-secondary text-light">
                        <tr>
                            <th>#</th>
                            <th>Departments in {{ center.name }}, {{ university.name }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for itr in departments %}
                            <tr class="table-light">
                                <td style="width: 5%;">{{ forloop.counter }}</td>
                                <td style="width: 95%;">
                                    <a href="{% url 'show_department' itr.id %}" class="">
                                        {{ itr.name }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-warning text-center" role="alert">
                No departments added yet for this center. We are working on it.
            </div>
        {% endif %}
    </div>
{% endif %}

{% endblock %}
